:host {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    h1 {
        font-size: 5rem;
    }
    h3 {
        font-size: 2rem;
    }
}