:host {
    width: 100%;
    .commentSection {
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    .postTitle {
        font-weight: 600;
        text-align: center;
    }
    hr {
        width: 50%;
        margin-bottom: 25px;
    }
    .postHeader {
        display: flex;
        justify-content: space-between;
    }
    .likeAndComment {
        margin: 0;
        padding: 10px 0px;
        border-top: 1px solid gainsboro;
        display: flex;
        justify-content: space-around;
    }
    textarea {
        resize: none;
    }
}