<mat-card class="container">
    <div class="formHeader">
        <h1>Social Network</h1>

    </div>
    <form>
        <mat-form-field class="inputForm">
            <input required name="email" type="email" matInput placeholder="Email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="inputForm">
            <input required name="name" type="text" matInput placeholder="Name" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="inputForm">
            <input required name="password" type="password" matInput placeholder="Password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="inputForm">
            <input required name="confirmedPassword" type="password" matInput placeholder="Confirm password" [(ngModel)]="user.confirmedPassword" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="register();displayAlert=true">Register</button>
        <p *ngIf="displayAlert" class="alert">
            {{registerMessage}}
        </p>
    </form>
    <a [routerLink]="['/login']">Already registered? Go to login</a>
</mat-card>